@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background: #284ac4;
    overflow-x: hidden;
}

.SideBarMain {
    transition: transform 1s ease-in;
}

.SideBarMain[data-fullHide="false"] {
    transform: translate(0%);
}
.SideBarMain[data-fullHide="true"] {
    transform: translate(-120%);
}